.topbox {
    width: 100%;
    height: 100px;
    background-color: #aedd94;
    margin-bottom: 10px;
}

.container {
    display: flex;
    margin-bottom: 10px;
}

.container .box:nth-child(1) {
    background-color: #f4eb49;
    width: 150px;
}

.container:nth-child(1) .box:nth-child(1) {
    width: 150px;
}


.box {
    height: 150px;
}

.bg-blue{
    width: 100%;
    background-color: blue;
    margin-left: 15px;
}

.bg-orange{
    width: 100%;
    background-color: coral;
    margin-left: 15px;
}